<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <div class="wrapper">
        <header>Header is loading</header>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </nav>

        <main>
            <%- body %>
        </main>

        <footer>
            <p>&copy; 2026 Taren Parmley</p>
        </footer>


    </div>

    
</body>
</html>